/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: Helvetica, Arial;
}

h1, h2 {
  text-align: center;
}

table, th, td {
  width: 25%;
  margin: 0.5em auto;
  border: 1px solid #7A7A7A;
  border-collapse: collapse;
  background-color: white;
}

th, td {
  padding: 10px;
}

#updated {
  text-align: center;
}

.paginate {
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding-bottom: 0.5em;
}

.scores {
  text-align: center;
}

#main {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url(http://i.imgur.com/OdlBKxC.gif) repeat top left scroll;
}

#footer {
  text-align: center;
}