/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require material
 *= require_self
 */

body {
  font-family: Helvetica, Arial;
  background-color: #ECEFF1;
}

h1, h2 {
  text-align: center;
}

table, th, td {
  margin: 0.5em auto;
}

#updated {
  text-align: center;
}

.paginate {
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding-bottom: 0.5em;
  background-color: #ECEFF1;
}

.scores {
  text-align: center;
}

#main {
  background-color: #ECEFF1;
}

#footer {
  text-align: center;
}

a {
  text-decoration: none;
}